body {
    font-family: Arial;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    text-align: center;
}

.container {
    margin-top: 120px;
    background: #ffffffe7;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #2b7de9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1a5edb;
}

#result {
    margin-top: 20px;
}